:root {
    --clr-dark-orange: hsl(22,89%,52%);
    --clr-light-orange: hsl(22,100%,69%);
    --clr-dark-blue: hsl(220,50%,17%);
    --clr-dark-blue-gray: hsl(221,23%,58%);
    --clr-light-gray: hsl(198,28%,93%);
    --clr-white: hsl(0,0%,100%);

    --ff-barlow: 'Barlow', sans-serif;

    --fw-black: 900;
    --fw-medium: 500;

    --fs-h1: 56px;
    --fs-h2: 32px;
    --fs-h3: 24px;
    --fs-body: 16px;

    --lh-h1: 56px;
    --lh-h2: 36px;
    --lh-h3: 28px;
    --lh-body: 26px;

}

footer {
    text-align: center;
    margin-bottom: 2rem;
    color: #7B8BAD;
}

footer > #type {
    font-weight: 500;
    margin-right: 2.5px;
}

footer > #rights {
    margin-left: 2.5px;
    font-weight: 400;
}

@media (min-width: 768px) {
    footer {
        margin-bottom: 3rem;
    }
}

@media (min-width: 1440px) {
    
}


