:root {
    --clr-dark-orange: hsl(22, 89%, 52%);
    --clr-light-orange: hsl(22,100%,69%);
    --clr-dark-blue: hsl(220,50%,17%);
    --clr-dark-blue-gray: hsl(221,23%,58%);
    --clr-light-gray: hsl(198,28%,93%);
    --clr-white: hsl(0,0%,100%);

    --ff-barlow: 'Barlow', sans-serif;

    --fw-black: 900;
    --fw-medium: 500;

    --fs-h1: 56px;
    --fs-h2: 32px;
    --fs-h3: 24px;
    --fs-body: 16px;

    --lh-h1: 56px;
    --lh-h2: 36px;
    --lh-h3: 28px;
    --lh-body: 26px;

}

.hero {
    overflow: hidden;
}

.hero > .hero-top {
    margin: 0 1.5rem;
}

.hero > .hero-top > .hero-intro > h1 {
    font-size: 2.75rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 2rem;
}

.hero > .hero-top > .hero-intro > .sub-title {
    color: #7B8BAD;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero > .hero-top > .hero-intro > .order-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
}

.hero > .hero-top > .hero-intro > .order-wrapper > * {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .95rem;
}

.hero > .hero-top > .hero-intro > .order-wrapper > a {
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
    text-decoration: none;
    padding: .65rem;
    border-radius: 10px;
}

.hero > .hero-top > .hero-intro > .order-wrapper > a:hover {
    background-color: #FF9B62;
}

.hero > .hero-top > .hero-intro > .order-wrapper .release-date {
    color: var(--clr-dark-blue-gray);
    margin-right: 25px;
}

.hero > .hero-top > #keyboard {
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.hero > .hero-bottom > .bottom-img-wrapper {
    display: flex;
    gap: 1.45rem;
    margin-bottom: 5rem;

}

.hero > .hero-bottom > .bottom-img-wrapper > * {
    height: 193px;
    border-radius: 20px;
}

.hero > .hero-bottom > .bottom-img-wrapper > .phone-and-keyboard-wrapper {
    width: 129px;
    background-image: url("assets/mobile/image-phone-and-keyboard.jpg");
    position: relative;
    object-fit: cover;
    margin-left: -22px; 
    background-size: 129px;
    background-color: var(--clr-dark-orange);
    background-blend-mode: multiply;
}

.hero > .hero-bottom > .hero-outro {
    padding: 0 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.hero > .hero-bottom > .hero-outro > h2 {
    margin: 0 auto;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.5rem;
    max-width: 255px;
}

.hero > .hero-bottom > .hero-outro > .sub-title {
    line-height: 1.75rem;
    color: #7B8BAD;
    font-weight: 400;
}

@media (min-width: 768px) {

    .hero {
        margin-bottom: 2rem;
    }

    .hero > .hero-top {
        display: flex;
        align-items: center;
        margin-bottom: .75rem;
    }

    .hero > .hero-top > .hero-intro > .sub-title {
        margin-bottom: 2.25rem;
    }

    .hero > .hero-top > .hero-intro > .order-wrapper {
        width: 370px;
    }

    .hero > .hero-top > .hero-intro > .order-wrapper > a {
        padding: 1rem 1.5rem;
    }

    .hero > .hero-top > #keyboard {
        margin-left: 55px;
    }

    .hero > .hero-bottom {
        padding : 0 2.25rem;
    }

    .hero > .hero-bottom > .bottom-img-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .hero > .hero-bottom > .bottom-img-wrapper > * {
        height: 320px;
    }

    .hero > .hero-bottom > .bottom-img-wrapper > .phone-and-keyboard-wrapper {
        width: 214px;
        object-fit: cover;
        background-image: url("assets/tablet/image-phone-and-keyboard.jpg");
        position: relative;
        margin-left: 0;
        background-size: 214px; 
    }

    .hero > .hero-bottom > .bottom-img-wrapper > #glass-and-keyboard {
        width: 445px;
    }

    .hero > .hero-bottom > .hero-outro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: initial;
        padding: initial;
        margin-bottom: 5.5rem;
    }

    .hero > .hero-bottom > .hero-outro > h2 {
        width: 255px;
        margin: initial;
    }

    .hero > .hero-bottom > .hero-outro > .sub-title {
        width: 398px;
    }
}

@media (min-width: 1440px) {
   .hero > .hero-top{
       padding: 0 6rem;
       margin: initial;
       justify-content: space-between;
       gap: 338px;
       margin-bottom: 1.5rem;
   } 

   .hero > .hero-top > .hero-intro > h1 {
       font-size: 3.5rem;
       max-width: 445px;
       line-height: 3.5rem;
   }

   .hero > .hero-top > .hero-intro > .sub-title {
       font-size: 1.125rem;
       max-width: 445px;
   }

   .hero > .hero-top > #keyboard {
       margin: initial;
   }

   .hero > .hero-top > span {
       position: absolute;
       width: 8rem;
       height: 13.75rem;
       background-color: #E8EFF2;
       margin-left: 1270px;
       margin-bottom: 260px;
       border-radius: 20px;
   }

   .hero > .hero-bottom {
       padding: 0 6rem;
       display: flex;
       gap: 6rem;
   }

   .hero > .hero-bottom > span {
    position: absolute;
    width: 8rem;
    height: 13.75rem;
    background-color: #E8EFF2;
    border-radius: 20px;
    margin-top: 260px;
    margin-left: -150px;
   }

   .hero > .hero-bottom > .bottom-img-wrapper > * {
       height: 480px;
   }

   .hero > .hero-bottom > .bottom-img-wrapper > .phone-and-keyboard-wrapper {
       width: 255px;
       background-size: 255px;
       background-image: url("assets/desktop/image-phone-and-keyboard.jpg");
   }

   .hero > .hero-bottom > .hero-outro {
       max-width: 255px;
       margin-left: 5.5rem;
       flex-direction: column;
       justify-content: center;
       align-items: initial;
   }

   .hero > .hero-bottom > .hero-outro > h2 {
       margin-bottom: 1rem;
   }

   .hero > .hero-bottom > .hero-outro > p{
       max-width: 255px;
   }

}


